<div *ngIf="!isRunning" class="build-bar">
  <ngb-progressbar type="{{type}}" [value]="100">{{name}}</ngb-progressbar>
</div>

<div *ngIf="isRunning">
  <ngb-progressbar type="info" [value]="100" [striped]="true" [animated]="true">{{name}}</ngb-progressbar>
</div>
